<h3>Adding ingredients to <%= @recipe.title %></h3>
<%= form_for [@recipe, @recipe_ingredient] do |f| %>
  <%= f.label :ingredient %>
  <%= f.collection_select :ingredient_id, @ingredients, :id, :name %>
  <%= f.label :quantity %>
  <%= f.number_field :quantity %>
  <%= f.label :measurement %>
  <%= f.select :measurement, options_for_select(['count', 'cloves', 'tsp', 'tbsp', 'oz', 'lbs', 'oz', 'c', 'other']) %>
  <%= f.submit 'Add Ingredient' %>
<% end %>
<%= button_to 'Create New Ingredient', new_ingredient_path %>
<%= link_to 'Done Adding Ingredients', recipe_path(@recipe) %>
