<div id="amazon-root"></div>
<script type="text/javascript">

  window.onAmazonLoginReady = function() {
    amazon.Login.setClientId("amzn1.application-oa2-client.c4acf8675a5c4f73bccbede476545fa6");
  };
  (function(d) {
    var a = d.createElement('script'); a.type = 'text/javascript';
    a.async = true; a.id = 'amazon-login-sdk';
    a.src = 'https://api-cdn.amazon.com/sdk/login1.js';
    d.getElementById('amazon-root').appendChild(a);
  })(document);

</script>

<div id="content">
  <div class="row">
    <div class="col-2">

    </div>
    <div class="col-4">

    </div>
    <div class="col-4">

    </div>
    <div class="col-2">

    </div>
  </div>
  <div class="row">
    <div class="col-2">

    </div>
    <div class="col-4">
      <div class="login-box">
        <h3>Log in with your Appetite account</h3>
        <p><%= form_tag login_path do %></p>
        <p><%= label_tag :email, 'E-mail address' %></p>
        <p><%= email_field_tag :email %></p>

        <p><%= label_tag :password %></p>
        <p><%= password_field_tag :password %></p>

        <p><%= submit_tag "Log in" %></p>
        <% end %>
      </div>
    </div>

    <div class="col-4">
      <div class="login-box">
        <h3>or Log in with Amazon</h3>
        <a href="#" id="LoginWithAmazon">
          <img border="0" alt="Login with Amazon"
          src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
          width="156" height="32" />
        </a>
      </div>

    </div>
    <div class="col-2">

    </div>
  </div>



  <script type="text/javascript">

    document.getElementById('LoginWithAmazon').onclick = function() {
      options = { scope : 'profile', popup: false };
      amazon.Login.authorize(options, "https://damp-escarpment-50077.herokuapp.com/handle_login.php");
      return false;
    };

  </script>

</div>
