<div class="row">
  <div class="col-2">

  </div>
  <div class="col-4">
    <h2><%= @grocery_list.title %></h2>

  </div>
  <div class="col-4">
    <h2><%= @grocery_list.date %></h2>
  </div>

  <div class="col-2">

  </div>
</div>

<div class="row">
  <div class="col-2">

  </div>
  <div class="col-4">
    <h3>Recipes</h3>
    <ul>
      <% @grocery_list.recipes.each do |recipe| %>
      <li><%= link_to recipe.title, recipe_path(recipe) %></li>
      <% end %>
    </ul>
  </div>

  <div class="items">
    <h3>Ingredients</h3>
      <% @grocery_list.all_ingredients.each do |ingredient| %>
      <input id="<%=ingredient%>" type="checkbox">
      <label for="<%=ingredient%>"><%= ingredient %></label>
      <% end %>
    <h2 class="undone" aria-hidden="true">Not Done</h2>
    <h2 class="done" aria-hidden="true">Done</h2>
  </div>

  <div class="col-2">

  </div>
</div>
