<div id="content">
  <div class="row">
    <div class="col-2">

    </div>
    <div class="col-4">
      <h1><%= @grocery_list.title %></h1>

    </div>
    <div class="col-4 items">
      <h2><%= @grocery_list.date %></h2></br>
      <%= form_tag :purchase_index %>
      <%= hidden_field_tag 'id', @grocery_list.id %>
      <%= submit_tag 'Buy These Ingredients on Amazon Fresh', class: 'button' %>
    </div>

    <div class="col-2">

    </div>
  </div>

  <div class="row">
    <div class="col-2">

    </div>
    <div class="col-4 items">
      <h3>Recipes</h3>
      <ul>
        <% @grocery_list.recipes.each do |recipe| %>
        <li><%= link_to recipe.title, recipe_path(recipe) %></li>
        <% end %>
      </ul>

    </div>

    <div class="items">
      <h3>Ingredients</h3>
      <% @grocery_list.ingredients.each do |ingredient| %>
      <div class="ingredient-item">
        <%= check_box_tag :ingredient  %>
        <%= label_tag "#{ingredient.name} - #{@grocery_list.format_quantity(ingredient.quantity)} #{ingredient.measurement}" %>
      </div>
      <% end %>
    </div>

    <div class="col-2">

    </div>
  </div>

</div>
