<h3>All Recipes</h3>
<% if current_user %>
  <%= link_to 'Add New Recipe', new_recipe_path %>
<% else %>
  <h3>Create an account and log in to add new recipes!</h3>
<% end %>
<% @recipes.each do |recipe| %>
  <p><%= image_tag asset_path recipe.image %></p>
  <p><%= link_to recipe.title, recipe_path(recipe) %>
  <% if current_admin? %>
    <%= link_to 'Edit', edit_admin_recipe_path(recipe) %>
    <%= link_to 'Delete', admin_recipe_path(recipe), method: 'delete', data: {confirm: "Are you sure you want to delete Recipe: #{recipe.title}?"}, title: "#{recipe.id} delete" %>
  <% end %>
  </p>
  <p>
    Prep Time: <%= recipe.prep_time %> -
    Cook Time: <%= recipe.cook_time %>
  </p>
<% end %>
