<div class="content">
  <div class="row">
    <div class="col-2">
      <%= form_tag :search, method: :get %>
      <%= text_field_tag :q %>
      <%= submit_tag 'Search' %>
    </div>
    <div class="col-4">
      <% if current_user %>
      <p><%= link_to 'Add New Recipe', new_recipe_path %><p>
        <% else %>
        <h3>Create an account and log in to create your own recipes and to add recipes to your favorites list!</h3>
        <% end %>
      </div>
      <div class="col-4">
        <h1>All Recipes</h1>
      </div>
      <div class="col-2">
      </div>
    </div>

    <% @recipes.each do |recipe| %>
    <div class="row recipe-item">
      <div class="col-2">

      </div>

      <div class="col-4">
        <div class="recipe">
          <div class="recipe-image-container">
            <div class="recipe-image">
              <%= link_to image_tag(asset_path recipe.image), recipe_path(recipe) %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <h2><%= link_to recipe.title, recipe_path(recipe) %>
          <% if recipe.creator.nil? %>
          <%= "- Created by Unknown" %>
          <% else %>
          <%= "- Created by #{recipe.creator.username}" %>
          <% end %>

          <% if current_user %>
          <%= link_to image_tag(asset_path("heart_icon.png"), alt: 'heart_icon'), user_recipes_path(user_recipe: { recipe_id: recipe.id, user_id: current_user.id }, origin: 'recipes index'), method: 'post' %>
          <% end %>
          <%= link_to image_tag(asset_path('add_to_basket_icon.png'), alt: 'add to basket'), basket_path(recipe_id: recipe.id), title: recipe.title, method: :post %>
          <% if current_admin? %>

          <%= " - Created at #{recipe.created_at}" %>
          <p><%= link_to 'Edit', edit_admin_recipe_path(recipe) %></p>
          <p><%= link_to 'Delete', admin_recipe_path(recipe), method: 'delete', data: {confirm: "Are you sure you want to delete Recipe: #{recipe.title}?"}, title: "#{recipe.id} delete" %></p>
          <% end %>
          <p><%= "Prep Time: #{recipe.prep_time} minutes" %></p>
          <p><%= "Cook Time: #{recipe.cook_time} minutes" %></p>
        </div>

        <div class="col_2">
        </div>

      </div>

    </div>
    <% end %>

</div>
