<h3>All Recipes</h3>
<% if current_user %>
  <%= link_to 'Add New Recipe', new_recipe_path %>
<% end %>
<% @recipes.each do |recipe| %>
  <%= image_tag(recipe.photo) %>
  <p><%= link_to recipe.title, recipe_path(recipe) %></p>
  <p>
    Prep Time: <%= recipe.prep_time %> -
    Cook Time: <%= recipe.cook_time %>
  </p>
<% end %>
