<div id="content">
  <div class="row">
    <div class="col-2">

    </div>

    <div class="col-4b">
      <% if @recipe.outside_image.nil? %>
      <p><%= image_tag(@recipe.image) %></p>
      <% else %>
      <p><%= image_tag(@recipe.outside_image) %></p>
      <% end %>
      <div class="box grocery-list-box">
        <h3>Ingredients: </h3>
        <p><%= link_to 'Add Ingredients', new_recipe_recipe_ingredient_path(@recipe) %></p>
        <% sorted = @recipe.recipe_ingredients.sort_by { |recipe_ingredient| recipe_ingredient.ingredient.name } %>
        <% sorted.each do |recipe_ingredient| %>
        <div class="ingredient-item">
          <p><%= check_box_tag :ingredient  %>
            <%= label_tag "#{recipe_ingredient.ingredient.name}, #{recipe_ingredient.quantity} #{recipe_ingredient.measurement} " %>
              <% if current_user %>
              <%= link_to image_tag(asset_path('delete_icon.png'), alt: 'delete from recipe'), recipe_recipe_ingredient_path(recipe_id: @recipe.id, id: recipe_ingredient.id), method: 'delete', data: { confirm: "Are you sure you want to delete #{recipe_ingredient.ingredient.name} from #{@recipe.title}?" }, title: "#{recipe_ingredient.id} delete" %>
              <% end %></p>
            <% if current_admin? %>
              <% if recipe_ingredient.creator.nil? %>
              <%= " - Created by Unknown at #{recipe_ingredient.created_at} - " %>
              <% else %>
              <%= " - Created by #{recipe_ingredient.creator.username} at #{recipe_ingredient.created_at} - " %>
              <% end %>
            <%= link_to 'Edit Ingredient', edit_admin_recipe_recipe_ingredient_path(recipe_id: @recipe.id, id: recipe_ingredient.id) %>
            <%= "Added on #{recipe_ingredient.created_at}" %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>

      <div class="col-4">
        <div class="box outside-recipe">
          <h1><%= @recipe.title %></h1>
          <% if @recipe.creator.nil? %>
          <p><%= " Added by Unknown" %></p>
          <% else %>
          <p><%= " Added by #{@recipe.creator.username}" %></p>

            <% if current_admin? %>
            <%= " - Created at #{@recipe.created_at}" %>
            <% end %>
            <% if @recipe.source_name %>
              <p>Originally created by:</p>
              <h3><%= link_to @recipe.source_name, @recipe.source_url %></h3>
            </br>
            <% end %>
          <% end %>
          <% if current_user %>
            <%= link_to image_tag(asset_path("heart_icon.png"), alt: 'heart_icon', class: 'icon'), user_recipes_path(user_recipe: { recipe_id: @recipe.id, user_id: current_user.id }), method: 'post' %>
          <% end %>
          <%= link_to image_tag(asset_path('add_to_basket_icon.png'), alt: 'add to basket', class: 'icon'), basket_path(recipe_id: @recipe.id), title: @recipe.title, method: :post %>
          <% if current_user %>
            <% if current_user.id == @recipe.creator_id %>
              <%= link_to image_tag(asset_path('edit_image.png'), alt: 'edit recipe', class: 'icon'), edit_recipe_path(@recipe) %>
            <% end %>
          <% end %>
          <p>Prep Time: <%= @recipe.prep_time %> minutes</p>
          <p>Cook Time: <%= @recipe.cook_time %> minutes</p>
          <h3>Instructions:</h3>
          <p><%= @recipe.instructions %></p>
        </div>
      </div>

      <div class="col-2">

      </div>
    </div>

</div>
