<h1><%= @recipe.title %>
  <% if current_user %>
    <% if @recipe.creator.nil? %>
      <%= " - Created by Unknown" %>
    <% else %>
      <%= " - Created by #{@recipe.creator.username}" %>
    <% end %>

    <% if current_admin? %>
    <%= " - Created at #{@recipe.created_at}" %>
    <% end %>
</h1>
  <p><%= link_to 'Add Ingredients', new_recipe_recipe_ingredient_path(@recipe) %></p>
  <% end %>
  <%= button_to 'Add to Recipe Basket', basket_path(recipe_id: @recipe.id), title: @recipe.title %>
<p><%= image_tag(@recipe.image) %></p>
<h3>Prep Time: <%= @recipe.prep_time %> minutes</h3>
<h3>Cook Time: <%= @recipe.cook_time %> minutes</h3>
<h3>Instructions:</h3>
<h3><%= @recipe.instructions %></h3>
<h3>Ingredients: </h3>
<% sorted = @recipe.recipe_ingredients.sort_by { |recipe_ingredient| recipe_ingredient.ingredient.name } %>
<% sorted.each do |recipe_ingredient| %>
  <p><%= "#{recipe_ingredient.quantity} #{recipe_ingredient.measurement} #{recipe_ingredient.ingredient.name}" %>
    <% if current_admin? %>
        <% if recipe_ingredient.creator.nil? %>
          <%= " - Created by Unknown at #{recipe_ingredient.created_at} - " %>
        <% else %>
          <%= " - Created by #{recipe_ingredient.creator.username} at #{recipe_ingredient.created_at} - " %>
        <% end %>
      <%= link_to 'Edit Ingredient', edit_admin_recipe_recipe_ingredient_path(recipe_id: @recipe.id, id: recipe_ingredient.id) %>
      <%= link_to 'Delete Ingredient', admin_recipe_recipe_ingredient_path(recipe_id: @recipe.id, id: recipe_ingredient.id), method: 'delete', data: {confirm: "Are you sure you want to delete #{recipe_ingredient.ingredient.name} from #{@recipe.title}?"}, title: "#{recipe_ingredient.id} delete" %>
      <%= "Added on #{recipe_ingredient.created_at}" %>
    <% end %>
  </p>
<% end %>
