<div id="amazon-root"></div>
<script type="text/javascript">

  window.onAmazonLoginReady = function() {
    amazon.Login.setClientId("amzn1.application-oa2-client.c4acf8675a5c4f73bccbede476545fa6");
  };
  (function(d) {
    var a = d.createElement('script'); a.type = 'text/javascript';
    a.async = true; a.id = 'amazon-login-sdk';
    a.src = 'https://api-cdn.amazon.com/sdk/login1.js';
    d.getElementById('amazon-root').appendChild(a);
  })(document);

</script>

<div class="row">
  <div class="col-2">

  </div>
  <div class="col-4">
    <h3>Create an account here</h3>

  </div>
  <div class="col-4">
    <h3>or Log in with Amazon</h3>
  </div>
  <div class="col-2">

  </div>
</div>

<div class="row">
  <div class="col-2">

  </div>
  <div class="col-4">
    <p><%= form_for @user do |f| %></p>
    <p><%= f.label :username %></p>
    <p><%= f.text_field :username %></p>
    <p><%= f.label :email, 'E-mail address' %></p>
    <p><%= f.email_field :email %></p>
    <p><%= f.label :password %></p>
    <p><%= f.password_field :password %></p>
    <p><%= f.submit 'Create Account' %></p>
    <% end %>

  </div>
  <div class="col-4">
    <a href="#" id="LoginWithAmazon">
      <img border="0" alt="Login with Amazon"
        src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
        width="156" height="32" />
    </a>
  </div>
  <div class="col-2">

  </div>
</div>

<script type="text/javascript">

  document.getElementById('LoginWithAmazon').onclick = function() {
    options = { scope : 'profile' };
    amazon.Login.authorize(options, "https://127.0.0.1:3000/handle_login.php");
    return false;
  };

</script>
