<!DOCTYPE html>
<html>
  <head>
    <title>RecipesAndLists</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar">
      <% if current_user %>
        <%= link_to "Logged in as #{current_user.username}", dashboard_path %>
        <%= link_to 'Log out', logout_path %>
      <% else %>
        <%= link_to 'Log in', login_path %>
      <% end %>
      <%= link_to 'All Recipes', recipes_path %>
      <%= link_to "Recipe Basket: #{@basket.total_count}", basket_path %>
    </nav>

    <% unless flash.empty? %>
      <div class="flash">
        <% flash.each do |type, message| %>
        <%= content_tag :div, sanitize(message), class: type %>
        <% end %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
